.navbar-custom {
    color: #CC3333;
    background-color: #FFFFFF;
}

.jumbotron-custom {
  max-height: 80px;
  vertical-align:central;
  margin-bottom:10px;
  padding: 10px 10px 10px 10px;
  color:inherit;
  background-color:#eee
}

.panel-noborder {
    border: none;
    box-shadow: none;
}